[submodule "QA_UNIT_Test_3"]
	path = QA_UNIT_Test_3
	url = https://github.com/AlexeyKop/QA_UNIT_Test_3.git
[submodule "OOP---Seminar-7"]
	path = OOP---Seminar-7
	url = https://github.com/geeekbrains/OOP---Seminar-7.git
